
.movieInformation .container {
padding: 20px;
}
 .movieInformation .container .titleImg img{
width: 250px;
height: 100px;
object-fit: cover;
}
 .movieInformation .container .description{
color: var(--white);
margin: 10px;
width: 50%;
}
 .movieInformation .container .btns{
display: flex;
gap: 15px;

}
