 .header .navItems{
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
    margin-bottom: 0;
}
 .header .navItems a{
    color: var(--white);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
 .header .navItems a.active {
    color: var(--green);
}

