.header .search-box .container {
color: var(--white);
display: flex;
align-items: center;
border: 1px solid var(--white);
gap: 10px;
padding: 10px;
}
.header .search-box .container ion-icon{
    color: var(--white);
}
.header .search-box .container input{
    background: transparent;
    border: 0;
    color: var(--white);
}
.header .search-box input:focus-visible{
    outline: none;
}
.header .search-box input::placeholder{
    color: var(--white);
}


